body {
  margin: 0;
  height: 100vh;                
  display: flex;
  justify-content: center;      
  align-items: center;          
  background: #dfdfe6;         
}

.auth-wrap {
  background-color: #ffffff;
  color: black;
  width: 25%;
  text-align: center;
  border-radius: 25px;
}

#signup-form > input{
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: 2px solid #cfcfd2;
}

#signup-form > .btn{
    width: 80%;
    height: 50px;
    border-radius: 30px;
    border: 2px solid #cfcfd2;
}

.auth-wrap > .login{
    margin-right: 10%;
    display: block;
    text-align: right;
    text-decoration: none;
    color: red;
}
